html, body {
    height: 100%;
    width: 100%;
    font-family: 'Roboto', sans-serif; 
    text-align: center;
  }

  .border{ 
    margin:auto;
    height: 400px;
    width: 410px;
    border-radius: 10px;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    border-style: solid;
    padding-bottom: 30px;
    padding-bottom: 40px;


  }
  
  .button{
    width: 66px;
    padding: 20px;
    margin: 0 3px;
    border: 2px solid black;
    border-radius: 9px;
    cursor: pointer; 
    background-color: rgb(195, 220, 245);
    font-weight: 600;
    text-align: auto;
  }
  
  .row{
    margin: 8px 0;
  }
  .row input{
    width: 350px;
    font-size: 50px;
      margin: 0;
      padding: 10px 0px;
      border: 2px solid black;
      border-radius: 5px;
  }

  .button-container{

    display: 200px;
  }

*{
  text-align: center;
}
